.menu1 {
  padding-left: 0px;
  padding-right: 0px;
}

/* #fond{
      
    }
     */
.navbar {
  justify-content: center;
  border-radius: 5px;
  z-index: 3;
}

.navbar-default {
  background-color: transparent;
  border: none;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 0 0;
}

.navbar-default .navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
  float: right;
}

.navbar-nav {
  float: right;
  overflow: hidden;
  transition: all 0.5s ease;
}

.navbar-nav li {
  padding: 10px;
  margin-right: 20px;
}

.navbar-nav li a {
  color: rgb(33, 37, 41) !important;
}

nav.couleur {
  background-color: rgb(55, 49, 58);
  padding: 5px 0;
}

nav.couleur a {
  color: skyblue !important;
}

.navPlacar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.liPlayer {
  color: aquamarine;
}

.liRobo {
  color: rgba(208, 77, 248, 0.979);
}

.badge {
  min-width: 30vw;
}