:root {
    --color-primary: rgb(247, 80, 219);
    --color-secondary: hsl(160, 98%, 62%);
    --background: hsl(279, 22%, 13%);
    --text: rgb(247, 80, 219);
}

::Escolha {
    background-color: var(--color-primary);
    color: var(--background);
    -webkit-text-fill-color: var(--background);
}

* {
    box-sizing: border-box;
}

body {
    place-content: center;
    gap: 4vh;
    min-height: 100vh;
    width: min(60ch, 100vw - 2rem);
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text);
}

h1 {
    color: var(--color-primary);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cover {
    height: 12em;
    border-radius: 15px;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divGame {
    margin-bottom: 2rem;
}

.card {
    max-width: 6rem;
}

.cardBox {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.card-body {
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}

.button {
    height: 5rem;
    width: 6rem;
}

#divResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid silver; */
    width: 100%;
}

.toast-header img {
    height: 2rem;
}

.toast-body {
    color: #000000;
}