:root {
    --text: rgb(252, 253, 241);
    --background: rgb(35, 26, 40);
    --navbar-color:#36333a;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(35, 26, 40);
    color: white;
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

/* ------------NAVBAR----------- */

.navbar{
    height: 5rem;
    border-radius: 5px;
    background-color: var(--navbar-color);
    padding: 0.2rem 2rem;
    /* z-index: 2; */
}

.imgbar{
    height: 95%;
    border-radius: 15px;
    border: 2px solid #252525;
}

.divPlacar{
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-radius: 15px;
    padding: 0.2rem 0.5rem;
    border: 1px solid rgb(73, 72, 72);
    text-align: left;
}

li{
    margin-left: 1rem;
    font-weight: 700;
}
.liPlayer{
    color: #26ffe2;
}
.liRobo{
    color: #fd166e;
}

/* ------------CORPO----------- */

body {
    margin-top: 5rem;
    place-content: center;
    height: 100vh;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text);
}

h1 {
    color: #fd166e(--color-primary);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cover {
    height: 12em;
    border-radius: 15px;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.divGame {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cardBox {
    display: flex;
    background-color: var(--navbar-color);
    margin: 0.5rem;
    margin-right: 5rem;
    border-radius: 15px;
}

.card {
    max-width: 6rem;
    background-color: #2b182b;
    text-align: center;
    color: white;
}

.card-body {
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

button {
    height: 5rem;
    width: 6rem;
    border: 1px solid #444444;
}

#divResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid silver; */
    width: 100%;
}
/* -------------- TOAST ---------------- */
.toast-container{
    z-index: 2;
}

.toast-header img {
    height: 2rem;
}

.toast-body {
    color: #726f6f;
}
